@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #369;
  background: linear-gradient(left top, #fff, #369);
  background: -o-linear-gradient(left top, #fff, #369);
  background: -moz-linear-gradient(left top, #fff, #369);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #fff), color-stop(1, #369));
  color: #fcc;
  font-family: sans-serif;
}

h1 {
  color: red;
  font-size: 1.5em;
  font-family: serif;
  text-shadow: 1px 1px 2px #a00;
}

h2 {
  color: #9fa;
  text-shadow: 1px 1px 1px #0a0;
}

.maintitle {
  position: relative;
  width: 90%;
  height: 75px;
  top: 0;
  margin: 0 auto;
  padding: 25px;
  border-radius: 0.2em;
  background: url("crainlogo.png") no-repeat;
  /*background: linear-gradient(top, #999, #333 50%, black);
  background: -o-linear-gradient(top, #999, #333 50%, black) url("crainlogo.png") no-repeat;
  background: -moz-linear-gradient(top, #999, #333 50%, black);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999), color-stop(0.5, #333), color-stop(1, #000));*/
  color: rgba(32, 255, 255, 0.8);
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  text-shadow: 2px 2px 3px rgba(0, 128, 192, 0.8);
}

.subtitle {
  font-size: 13px;
}

section {
  display: block;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(left, rgba(0, 0, 0, 0.5), 50% rgba(32, 32, 32, 0.5), rgba(128, 128, 128, 0.5));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), 50% rgba(32, 32, 32, 0.5), rgba(128, 128, 128, 0.5));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), 50% rgba(32, 32, 32, 0.5), rgba(128, 128, 128, 0.5));
  /*background: -webkit-gradient(linear, left top, right top,
              color-stop(0, rgba(0, 0, 0, 0.5)), color-stop(0.5, rgba(32, 32, 32, 0.5)), color-stop(1, rgba(128, 128, 128, 0.5));*/
}

.maintitle, section {
  -webkit-box-shadow: 1px 1px 3px black;
  -moz-box-shadow: 1px 1px 3px black;
  box-shadow: 1px 1px 3px black;
}

p {
  max-width: 80%;
}

.slide-left {
  float: left;
  margin-right: 3em;
  wifth: 200px;
  height: 200px;
}

.slide-right {
  float: right;
  margin-left: 3em;
  wifth: 200px;
  height: 200px;
}

.return {
  clear: both;
  padding-top: 2em;
}


/* for puzzle */
#puzzle {
  position: relative;
  width: 400px;
  height: 400px;
  background-image: url("hinanaitensi.png");
}

.peace {
  position: absolute;
  width: 98px;
  height: 98px;
  border: 1px solid rgba(0, 128, 64, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  color: #f36;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.rightpeace {
  background-color: rgba(255, 0, 0, 0.5);
}

#peace4 {top: 300px; left: 0px;}
#peace2 {top: 300px; left: 100px;}
#peace3 {top: 300px; left: 200px;}
#peace1 {top: 300px; left: 300px;}
#peace15 {top: 200px; left: 0px;}
#peace12 {top: 200px; left: 100px;}
#peace10 {top: 200px; left: 200px;}
#peace6 {top: 100px; left: 0px;}
#peace11 {top: 100px; left: 100px;}
#peace13 {top: 100px; left: 200px;}
#peace5 {top: 100px; left: 300px;}
#peace8 {top: 0px; left: 0px;}
#peace14 {top: 0px; left: 100px;}
#peace9 {top: 0px; left: 200px;}
#peace7 {top: 0px; left: 300px;}

.playaudio {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
/*#peace1, #peace2, #peace3, #peace4 {
  background-image: url("playwait.png");
}*/
