<h1>yusinの鍵</h1>
  <p><img src="authed_story_02.png" alt="透けた向こうにはAncient Citizenがいた" class="slide-right" />
  パズルを解き終わると、<b>zerakiriaの扉</b>が透けてゆくのがみえた。透けた向こうには<b>Ancient Citizen</b>がいた。
  彼女は親しげに笑いかけた。</p>
  <p>「この方法で人がくるのは、二万年ぶりです。やっと来ましたね。しーっ！　今お客さんがきてます。」</p>
  <p class="return">どうやらわれわれでない方の分岐、〈常ツ国〉が眠りについた分岐からも、人が来ているらしい。</p>
  <p>「彼はとまどっています。」</p>
  <p></p>
  <p>「あなたは鍵によって扉をあけずに、組み合わせを実現し、すり抜けてきました。今、あなたの頭と足はいれかわっています。
  心配しないでください。あなたの世界ではそれが正常なのです。」</p>
  <p><img src="authed_story_03.png" alt="わたしの世界に頭と足がいれかわった人間なんていない" class="slide-left" />
  心配しないわけがないじゃないか。わたしの世界には、頭と足がいれかわった人間なんていない。死なないのか？</p>
  <p>おや、解りませんか、と彼女は鈴の音のように声をならした。</p>
  <p>「〈天ツ国〉の世界では、すべてのものの、頭と尾がいれかわっているのです。つまり、こういうことです。
  <b>yusinの鍵</b>無くして<b>zerakiriaの扉</b>をすり抜けたものは、頭と足がいれかわってしまう。
  そして〈天ツ国〉にあるものは、もともとこの〈常ツ国〉から扉をすりぬけていったものなのですよ。」</p>
  <p class="return">つまり、鍵なしで強引にすりぬけた方がいいのか。</p>
  <p>「ええ、そういうことです。<b>yusinの鍵</b>とは〈常ツ国〉のものが外と行き来するために使っていたものです。
  〈天ツ国〉のものが鍵で入ってしまうと、おかしな光景を見ることになります。みずからンお頭と尾がただしいために、
  まるで世界の頭と尾がいれかわってしまった様に感じるでしょう。」</p>
  <p><b>Ancient Citizen</b>の案内で、あなたは扉の奥をさらに進むことにした。</p>
  <p><a href="ancient_square.html"><img src="favicon.png" alt="favicon" width="48" height="48" />Ancient Square</a></p>
